/* /////////////////////////// */
/* ///////// Langue ////////// */
/* /////////////////////////// */


.langues-section {
  padding: 16rem 0 2rem 0 ;
}

.title-hobby {
  font-size: 3rem;
  color: var(--color-5);
}


.langues-section .nav-item-hobby,
.langues-section .nav-item-langue {
  position: relative;
  list-style: none; 
}

.langues-section .nav-item-hobby .nav-link,
.langues-section .nav-item-langue p {
  font-size: 18px;
  line-height: 2rem;
  font-weight: 400;
  color: #333333;
}


.langues-section .nav-item-langue {
  padding-left: 64px;
}
.detail-hobby {
  padding: 10px 10px 60px 0;
}

.langues-section .nav-item-langue img {
  position: absolute;
  top: -8px;
  left: 0;
  width: 40px;
  height: 60px;
}

.langue-info {
  margin-top: 1rem;

  padding: 2rem;
  position: relative;
  z-index: 1;
  background-color: var(--color-5);
}

.langue-box {
  margin-top: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-5);
  z-index: -1;
}

.langue-border {
  padding: 1rem;
  left: 20px;
  top: -20px;
  position: absolute;
  border: 2px solid var(--color-6);
  height: 100%;
  width: 100%;
  z-index: -2;
}

.langue-info h3 {
  margin: 0px 0px 40px;
  font-size: 2.5rem !important;
  text-transform: uppercase;
}

.langue-info p {
  margin-bottom: 2rem;
  font-size: 16px;
  line-height: 2rem;
  font-weight: 400;
}

  