
/* ////////////////////// */
/* //// Common style //// */
/* ////////////////////// */

/* Resetting default margin and padding for various elements */
*,
h1,
h2,
h3,
h4,
h5,
a,
p {
	margin: 0;
	padding: 0;
}

/* Color variables defined using CSS custom properties */
:root {
	--primary: #e6b01c;
	--black: #000000;
	--white: #ffffff;
	--color-1: #333333;
	--color-2: #cccccc;
	--color-3: #2e4413;
	--color-4: #1c1c1c;
	--color-5: #efebe7;
	--color-6: #e3d6c8;
}

/* Styling for the entire HTML document */
html,
body {
	overflow-x: hidden !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Styling for the body, setting background color and font family */
body {
	background-color: var(--white);
	font-family: "Poppins", sans-serif;
}

/* Styling for text selection */
::selection {
	background-color: var(--color-1);
	color: var(--color-2);
}

/* Container styles with max-width and centered margin */
.container {
	max-width: auto;
	margin: auto;
}

/* Common transition for links, buttons, and images */
a,
button,
img {
	transition: all 0.5s;
}

/* Background color utility classes */
.white-bg {
	background-color: var(--white);
}

.black-bg {
	background-color: var(--black);
}

/* Heading 2 title styling */
h2.title {
  padding: 10px;
  font-size: 3rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	position: absolute;
  top: 2rem;
	width: 100%;
	pointer-events: none;
}
  


/* Button styling with margin, padding, font size, color, and transition */
.common-btn {
	margin: 0;
	padding: 17px 23px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--white);
	background-color: var(--primary);
	text-transform: uppercase;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	position: relative;
	z-index: 1;
	transition: all 0.15s;
}

/* Button hover effect with a pseudo-element overlay */
.common-btn::before {
	left: 6px;
	top: 6px;
	position: absolute;
	content: "";
	border: 1px solid var(--primary);
	height: 100%;
	width: 100%;
	transition: all 0.15s;
	z-index: -1;
}

/* Button hover effect - adjusting pseudo-element position */
.common-btn:hover::before {
	top: 0;
	left: 0;
}

/* Button hover and focus styling */
.common-btn:hover,
.common-btn:focus {
	color: var(--white);
}

/* Button focus styling with box-shadow and outline */
.common-btn:focus {
	box-shadow: none;
	outline: none;
}

/* Styling for the image inside a button */
.common-btn img {
	width: 24px;
}

/* Dark theme styling for heading 2 title and paragraph */
.theme-dark h2.title {
	color: rgba(255, 252, 252, 0.18);
}

.theme-dark p {
	color: var(--color-2);
}


@media only screen and (min-width: 768px) {
  h2.title {
    font-size: 8rem; 
    line-height: 1.1;
    margin-top: 2rem;
  }

  p {
    margin: 0 1.5rem 1.5rem 0;
    font-size: 16px; 
    line-height: 1.8;
  }

  .common-btn {
    font-size: 16px;
    padding: 15px 20px;
  }
}





/* Paragraph styling with margin, font size, and color

p {
	margin: 0 10px 10px 0;
	font-weight: 400;
	font-size: 2rem;
	line-height: 28px;
	color: var(--color-5);
} */

/* Styling for the first letter of the first paragraph inside a container 
.paragraph p:first-child:first-letter {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
}*/


/* Réglages pour 320px 
@media screen and (max-width: 320px) {
  h2.title {
    font-size: 6rem;
    top: -1rem;
  }

  p {
      top: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .common-btn {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    gap: 0.3125rem;
  }
}
*/
/* Réglages pour 768px 
@media screen and (min-width: 321px) and (max-width: 768px) {
  h2.title {
    font-size: 10rem;
    top: -2rem;
  }

  p {
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .common-btn {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    gap: 0.625rem;
  }
}
*/
/* Réglages pour 1024px 
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h2.title {
    font-size: 15rem;
    top: -3rem;
  }

  p {
    margin: 0 2rem 2rem 0;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .common-btn {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    gap: 0.75rem;
  }
}
*/




/* /////////////////////////// */
/* //// Button scroll up ///// */
/* /////////////////////////// */

#myBtn {
  display: none;
  position: fixed;
  bottom: 6%; /* Adjusted distance from the bottom for better responsiveness */
  right: 6%; /* Adjusted distance from the right for better responsiveness */
  z-index: 99;
  font-size: 2vw; /* Responsive font size */
  border: none;
  outline: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  padding: 1vw; /* Responsive padding */
  border-radius: 6px; /* Make it circular */
}

#myBtn:hover {
  background-color: #555;
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  #myBtn {
    font-size: 4vw; /* Responsive font size for small screens */
    bottom: 6%; /* Adjusted distance from the bottom for small screens */
    right: 6%; /* Adjusted distance from the right for small screens */
    padding: 1vw; /* Responsive padding for small screens */
  }
}






