
/* //////////////////////////// */
/* ///////// Formation //////// */
/* //////////////////////////// */


/* Styling for the trainings section */
.trainings-section {
  padding: 12rem 0  2rem 0; 
}
  
  /* Styling for the content within the trainings section */
  .trainings-section .content {
    border: 2px solid var(--color-4);
    padding: 40px;
    width: 100%;
  }
  
  /* Styling for the row within the trainings section */
  .trainings-section .row {
    align-items: flex-end;
  }
  
  /* Styling for the headings within the content */
  .trainings-section .content h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 20px;
    margin-bottom: 0 !important;
    color: var(--color-5);
  }
  
  /* Styling for paragraphs within the content */
  .trainings-section .content p {
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
    font-weight: 400;
    color: var(--color-1);
    padding-bottom: 2rem;
  }
  
  /* Styling for the image box within the trainings section */
  .trainings-section .img-box {
    width: 340px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }
  
  /* Styling for images within the image box */
  .trainings-section .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  /* Styling for reverse row within the trainings section */
  .trainings-section .reverse-row {
    align-items: flex-start;
  }
  
  /* Styling for image box within reverse row */
  .trainings-section .reverse-row .img-box {
    margin-left: auto;
  }
  
  
  